body
{
background-position: center;
background-size: cover;
}
a
{
font-size: 20px !important;
width: 400px;
border-radius: 30px !important;
background-color: rgb(180, 226, 235);
color: black;
}
#heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}